/* Section CSS */

:root {
    /* Color Variables */
    --light-black: #333;
    --light-white: #f7f7f7;
    --yellow: #f7be27;
    --light-red: #e3000e;
    --light-gray: #f6f9fa;
    --light-gray-2: #dddddd;
    --white-color: #fff;
    --yellow-color: #4f90ff;
    --gray-color: #757575;
    --brown-color: #6f5e4d;
    --bg-cofee: #642f21;
}

body,
html {
    font-size: 1rem;
    font-family: 'Poppins', sans-seri;
}

/* Custom Scroll Bar Styling */
::-webkit-scrollbar {
    width: .4125rem;
}

::-webkit-scrollbar-track {
    background-color: var(--light-black);
}

::-webkit-scrollbar-thumb {
    background: var(--light-red);
}

/* About Section Styling */
.about_section {
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;
    background-size: cover;
    background-color: #D3D3D3;
}

.about_section h2 {
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3;
}

/* Media Query for Mobile */
@media(max-width: 992px) {
    .about_box h2 {
        color: red;
    }
}

.p {
    color: red;
    padding: 20px 30px;
    font-size: 19px;
}

.about_wrapper .card {
    background-color: transparent;
    background: #F1EFEF;
    transition: all 0.5s ease-in-out;
}

.about_wrapper .card:hover {
    background-color: #6f5e4d;
}

.about_wrapper .card:hover h4 {
    color: white;
}

.about_box h4 {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
}

/* Services Section Styling */
.services .icon-box {
    padding: 50px 20px;
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
    height: 200px;
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #ff5821;
}

.services .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.services .title a {
    color: #343a40;
}

.services .icon-box:hover .icon {
    background: #fff;
    border: 2px solid #ff5821;
}

.services .icon-box:hover .icon i {
    color: #ff5821;
}

.services .icon-box:hover .title a {
    color: #ff5821;
}

.services .description {
    line-height: 24px;
    font-size: 14px;
}

/* Custom Image Styling */
/* .custom-img {
    height: 300px;
    width: 300px;
} */

.about_icon img{
    width: 200px;
    height: 200px;
}